.inputDropZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min(50vh, 50vw);
    width: min(50vh, 50vw);
    background-color: hsl(210 40% 96.1%);
    border: 2px dashed rgb(209 213 219/1);
    border-radius: .5rem;
  
    color: hsl(215.4 16.3% 46.9%);
    font-weight: bold;
    
    cursor:pointer;
  }
  
  .inputDropZone.drag-over {
    border-color: hsl(215.4 16.3% 46.9%);
  }